/* BOX ANIMATIONS */
.box{
    transform: translateX(800%);
    transition: transform 0.4s ease;
    box-shadow: 0 0 0 rgba(255,255,255,1);
    background-color: transparent;
}

.box.left{
    transform: translateX(-800%);
}

.box.right{
    transform: translateX(800%);
}
  
/* .box:nth-of-type(odd){
    transform: translateX(-800%);
} */
  
.box.show,
.box.left.show,
.box.right.show
{
    transform: translateX(0);
}



/* Opacity animation */

.opacity{
    opacity: 0;
}

.opacity.full{
    opacity: 1;
    animation: blossom 1.5s alternate; 
}

@keyframes blossom{
    from {opacity: 0;}
    to {opacity: 1;}
}


  
/* SINGLE DIVS ANIMATIONS 
    REMEMBER: .section.box.show .customNewAnimation is how we trigger the animation only after the parent box is visible
*/
  
#four-in-ten{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 1rem 0;
} 

.dot{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    background-color: #555;
}

.dot.money{
    background-color: #fff;
    color: #555;
}

.section.box.show .dot{
    animation: showing 1.5s alternate; 
}

@keyframes showing{
    from {transform: scale(0);}
    to {transform: scale(1);}
}
/* END OF DOTS */

/* RED ARROW SPIN */
@keyframes spin{
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(-90deg);}
}

.section.box.section-spin{
    transform: rotateZ(-90deg);
    animation: spin 1.5s ease-in-out; 
    animation-iteration-count: 1;
    overflow: hidden;
}

/* END OF RED ARROW SPIN */

