/* BOX ANIMATIONS */
.box{
    transform: translateX(800%);
    transition: transform 0.4s ease;
    box-shadow: 0 0 0 rgba(255,255,255,1);
    background-color: transparent;
}

.box.left{
    transform: translateX(-800%);
}

.box.right{
    transform: translateX(800%);
}
  
.box.show,
.box.left.show,
.box.right.show
{
    transform: translateX(0);
}

.para{
    transform: translateX(-800%);
    transition: transform 0.8s ease-in-out;
}

.para.show{
    transform: translateX(0);
}


/* Opacity animation */

.opacity{
    opacity: 0;
}

.opacity.full{
    opacity: 1;
    animation: blossom 1.5s alternate; 
}



@keyframes blossom{
    from {opacity: 0;}
    to {opacity: 1;}
}

/* RED ARROW SECTION SPIN */
@keyframes spin{
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(-90deg);}
}

.section.box.section-spin{
    transform: rotateZ(-90deg);
    animation: spin 1.5s ease-in-out; 
    animation-iteration-count: 1;
    overflow: hidden;
}
/* END OF RED ARROW SPIN */

  
/* SINGLE DIVS ANIMATIONS 
    REMEMBER: .section.box.show .customNewAnimation is how we trigger the animation only after the parent box is visible
*/
  
#four-in-ten{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 1rem 0;
} 

.dot{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    background-color: #555;
}

.dot.money{
    background-color: #fff;
    color: #555;
}

.section.box.show .dot{
    animation: showing 1.5s alternate; 
}

@keyframes showing{
    from {transform: scale(0);}
    to {transform: scale(1);}
}
/* END OF DOTS */

/* CARD COLLORING ANIMATION */
.animationContainer{
    height: 12rem;
    width:12rem;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    background: #1684a7;
}

.animationContainer.zoom.full{
    height: 300px;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

/* .animationContainer:hover{
    height: 450px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
} */

.animationContainer .wrapper img{
    height: 200px;
    width: 200px;
    position: relative;
    z-index: 20;
    border-radius: 50%;
    display: block;
    object-fit: cover;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
}

.animationContainer.zoom.full .wrapper img.active{
    height: 450px;
    width: 350px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
}


/* .animationContainer:hover .wrapper img.active{
    height: 450px;
    width: 350px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
} */



/* FIRST CARD */
.firstGraph{
    min-height: 15rem;
    border: 1px solid green;
    border-right: none;
    border-top: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


.firstBar.box,
.secondBar.box,
.thirdBar.box,
.fourthBar.box{
    background-color: #ee2098;
    min-width: 20px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 0;
}

.firstBar.box{
    max-height: 3rem;
    margin-top: 12rem;
    background-color: #ee2098;
}

.secondBar.box{
    max-height: 7rem;
    margin-top: 8rem;
    background-color: #a7166a;
}

.thirdBar.box{
    max-height: 11rem;
    margin-top: 4rem;
    background-color:#eecf20;
}

.fourthBar.box{
    max-height: 14rem;
    margin-top: 1rem;
    background-color:#1684a7;
}


